.sort__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}
.sort__select {
   display: flex;
   align-items: center;
   gap: 60px;
   border-bottom: 1px solid red;
}

.sort__select h2 {
   font-family: "Gilroy";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: #333333;
}
